<div class="container">
  <div class="row">
  <div class="col-md-12">
      <div class="ready-section">
        <h2 class="title-2">Ready to <span>Begin?</span></h2>
        <p>
          Embark on the journey of creating your very own AI-powered
          assistant effortlessly.
        </p>
        <a
          href="https://docs.memmachine.ai/"
          class="btn btn-primary mx-2"
          
          
          >Start Building
        </a>
        <a
          href="https://discord.gg/usydANvKqD"
          class="btn btn-primary mx-2"
          
          
          >Let's Chat on Discord
        </a>
      </div>
    </div>
  </div>
</div>
